
<mat-card-title>Welcome to Node Quiz!</mat-card-title>

<div class="row">
    <div class="column">
        <img src="assets/presentation/1001/1.0.jpg" alt="1001" style="width:100%">
        <button mat-button (click)="goToPresentation('1001')">2 Pizza Rule</button>
    </div>
    <div class="column">
        <img src="assets/presentation/1002/2.0.jpg" alt="1002" style="width:100%">
        <button mat-button (click)="goToPresentation('1002')">API</button>
    </div>
    <div class="column">
        <img src="assets/presentation/1003/3.0.jpg" alt="1003" style="width:100%">
        <button mat-button (click)="goToPresentation('1003')">RESTful APIs</button>
    </div>
</div>
