
<mat-card-title>Welcome to Node Quiz!</mat-card-title>

<div class="row">
    <div class="column">
        <img src="assets/presentation/1001/1.0.jpg" alt="2 pizza Rule" style="width:100%">
        <button mat-button (click)="goToPresentation('2 Pizza Rule')">2 Pizza Rule</button>
    </div>
    <div class="column">
        <img src="assets/presentation/1002/2.0.jpg" alt="API" style="width:100%">
        <button mat-button (click)="goToPresentation('API')">API</button>
    </div>
    <div class="column">
        <img src="assets/presentation/1003/3.0.jpg" alt="RESTful APIs" style="width:100%">
        <button mat-button (click)="goToPresentation('RESTful APIs')">RESTful APIs</button>
    </div>
</div>
