<app-header></app-header>
<mat-card-title>Welcome to Node Quiz!</mat-card-title>

<div class="row">
    <div class="column">
        <img src="assets/nodequiz/1.0.jpeg" alt="HTML" style="width:100%">
        <button mat-button (click)="goToPresentation('html-css')">2 pizza rule</button>
    </div>
    <div class="column">
        <img src="assets/nodequiz/2.0.jpeg" alt="Java" style="width:100%">
        <button mat-button (click)="goToPresentation('javascript')">API</button>
    </div>
    <div class="column">
        <img src="assets/nodequiz/3.0.jpeg" alt="node" style="width:100%">
        <button mat-button (click)="goToPresentation('node')">RESTful APIs</button>
    </div>
</div>
