<div fxLayout="column" style="margin-top: 5%; margin-left: 10%; width: 60%;">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>{{ presentationName }}</mat-card-title>
    <mat-card-content>
      <p-carousel [value]="presentation" numVisible="1">
        <ng-template let-item pTemplate="item">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex>
              <img src="./assets/presentation/{{ presentationName }}/{{ item.name }}.jpg" alt="">
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </mat-card-content>
  </mat-card>
</div>
<button color="accent" mat-button (click)="goToQuiz(presentationName)">Begin Quiz here</button>
